@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
   font-family: 'idroid';
   src:url(idroid.otf) ;
   font-weight: normal;
   font-style: normal;
}
 body{    background-color: #8ae49c;
   font-family: Arial, Helvetica, sans-serif;
} 

main{
   margin: 0;
   padding: 0;
}
main p{
   text-indent: 30px;
   line-height: 2em;

}
 header{
   background-color: rgba(10, 51, 34, 0.714);
   padding: 10px;
   padding-bottom: 20px;
   margin: -20px -20px 0px -20px;
   color: white;
   min-height: 150px;
 } 
 header > h1{
    text-align: center;
    font-family: 'Bebas Neue' ;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
 }
 header > p{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   font-weight: bold;
   font-size: 1.2em;
   max-width: 600px;
   margin: auto;
   text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
 }
 nav{
   background-color: rgba(10, 51, 34, 0.712);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-decoration: none;
   padding: 10px;
   padding-top: 0px;
   margin: 0px -20px 0px -20px;
   box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.322);
   text-indent: 20px;
 }
 nav > a{
   text-decoration: none;
   color: white;
   font-weight: bold;  
 }
nav > a:hover{
   text-decoration: solid;
   background-color: #2d4a338f;
   padding: 8px;
   border-radius: 8px;
}
main{
   background-color: white;
   min-width: 400px;
   max-width: 800px;
   margin: auto;
   padding: 8px;
   border-radius: 0px 0px 10px 10px;
   color: #0A330A;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
}
main > h1{
   font-family: 'idroid';
   text-align: center;
   text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}
article > p{
   text-align: justify;
   color: black;
}
article > h2{
font-family: 'idroid';
background-color: #9CFFAF;
text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
padding-left: 7px; 
border-radius: 5px 0px 0px 5px ;
}
picture#foto{
   display: flex;
   justify-content: center;
}
.video{
   background-color: #0A3322;
   text-align: center;
   padding: 10px;
   padding-bottom: 50%;
   position: relative;
}
.video > iframe{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}
aside{
background-color: rgba(138, 228, 156, 0.493);
border-radius: 10px 10px 10px 10px;
padding: 0px 3px 0px 3px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}
aside > h3{
   background-color:#0A3322 ;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   border-radius: 10px 10px 0px 0px;
   padding: 5px;
   color: white;
}
 aside > ul{
   list-style-type: '\2714';
display: inline-block;
}
aside> p{
   text-align: justify;
}
footer{
   background-color: #0A3322;
   text-align: center;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   margin: -6px -20px -20px -20px;
}
a.drod::after{
   content: '\1F517';
}
.drod{
   text-decoration: none;
   font-weight: bold;
   color: #0A330A;
}
.drod:hover{
   text-decoration: solid;
   color: white;
   background-color: #0a330ad5;
   padding: 3px;
   border-radius: 8px;
}
.android{
   color: #0A330A;
   font-weight: bolder;
   text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}

